{
  "trailingComma": "all",
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.js",
        "*.json",
        "*.jsx",
        "*.tsx",
        "*.vue"
      ],
      "options": {
        "useTabs": true,
        "tabWidth": 4,
        "semi": true
      }
    }
  ]
}
